.contact-container {
  background-color: #6b0000;
  color: white;
  padding: 50px 20px;
  text-align: center;
  font-family: 'Georgia', serif;
}

.contact-title {
  letter-spacing: 2px;
  font-size: 18px;
  color: #d2c1b0;
}

.contact-heading {
  font-size: 36px;
  margin: 10px 0 40px;
}

.footer{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-info p,
.social-links p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #FFF;
  gap: 10px;
  font-size: 30px;
  margin: 5px 0;
}

.contact-info i,
.social-links i {
  font-size: 30px;
  color: #fff;
}

.social-title {
  margin-top: 40px;
  font-size: 44px;
  padding: 30px 0;
  color: #d2c1b0;
  margin: auto;
}

.social-links {
  margin-top: 10px;
}

@media (max-width: 500px) {
    .contact-container {
        padding: 30px 10px;
    }

    .contact-title {
        font-size: 16px;
    }

    .contact-heading {
        font-size: 28px;
        margin: 10px 0 20px;
    }

    .footer {
        width: 90%;
        align-items: center;
    }

    .contact-info p,
    .social-links p {
        font-size: 20px;
        gap: 5px;
        justify-content: center;
    }

    .contact-info i,
    .social-links i {
        font-size: 20px;
    }

    .social-title {
        font-size: 32px;
        padding: 20px 0;
    }
}